.healthbar {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.user-health,
.monster-health {
  width: 200px;
  height: 20px;
  background-color: green;
}

.start-game {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.game-buttons {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  width: 500px;
}

button {
  padding: 10px;
}

.end {
  pointer-events: none;
}